.shop-container{
    text-align: left;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
     
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    background-color: rgb(32, 145, 145);
    text-align: center;
    color: white;
   
}